<div class="container p-4">
    <div class="row">
        <div class="col-md-3 tarjeta-numero mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title text-uppercase">
                        Premio: {{rewardList.RewardName}}
                    </h3>
                    <p class="m-2">
                        Sortea el dia: {{rewardList.RewardDate }}
                    </p>
                    <p class="m-2">
                        Valor en pesos: {{rewardList.RewardValue }}
                    </p>
                    <p class="m-2">
                        Detalle: {{rewardList.RewardDescription}}
                    </p>
                    <p>Premio creado: {{timeago rewardList.RewardCreatedAt}}</p>
                    <div class="container-reward-image owl-carousel custom1 owl-theme">
                        {{#each image3}}
                        <div><img src="/uploads/{{../userId}}/{{this}}"></div>
                        {{/each}}
                    </div>
                    <a onclick="backButton()" class="btn btn-secondary">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>