<div class="container p-4">
        <div class="divCenter">
        <span class="button whatsapp"><i class="fa fa-whatsapp"></i></span>
        <span class="button twitter"><i class="fa fa-twitter"></i></span>
        <span class="button telegram"><i class="fa fa-telegram"></i></span>
    </div>
    <div class="row ">

       {{#each numbers}}
        <div class="col-md-3 tarjeta-numero mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title text-uppercase publicNumbers">
                        Numero: {{NumbersNumber}}
                    </h3>
                    {{#if RewardRewardId}}
                    <p class="m-2">
                        Premio: <a href="/rewards/rewards-details/{{RewardRewardId}}">{{RewardName}}</a>
                    </p>
                    {{else}}
                    <p class="m-2">
                        Premio: No tiene premio asignado
                    </p>
                    {{/if}}

                    {{#if ClientsName}}
                    <p>
                        Comprador: {{ClientsName}}
                    {{else}}
                    <p>
                        Comprador: Numero libre
                    </p>
                    {{/if}}
                    <p>Numero creado hace: {{timeago NumbersCreatedAt}}</p>
                    {{#if ClientsCreatedAt}}
                    <p>Comprador creado hace: {{timeago ClientsCreatedAt}}</p>
                    {{else}}
                    <p>Comprador creado hace: Numero libre</p>
                    {{/if}}
                    {{#if ClientsName}}
                    <a href="/listNumbers/delete-client/{{RewardNumberId}}" class="btn btn-danger">Borrar comprador</a>
                    <a href="/listNumbers/edit-clients/{{RewardNumberId}}" class="btn btn-secondary">Editar comprador</a>
                    {{else}}
                    <a href="/listNumbers/add-clients/{{RewardNumberId}}" class="btn btn-secondary">Agregar comprador</a>
                    {{/if}}
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay numeros guardados..</p>
                <a href="/add-numbers">Crea uno!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>